@use "../global" as global;

.p__page-products {

    &-contents-top,
    &-contents-bottom {
        @include global.mq('pc') {
            display: flex;
            justify-content: space-between;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
    }

    &-body {}

    &-name {
        margin-top: 12px;
    }

    &-price {
        text-align: center;
        font-family: global.$ff-Damion;
        font-size: 24px;
    }

    &-btn {
        text-align: center;
        margin-top: 12px;
        padding: 8px 0px;
        color: #fff;
        background: global.$btn-color;
        width: 140px;
        margin: 0px auto;
        font-size: 12px;
        transition: all .5s;
        border: 1px solid #fff;

        @include global.mq('pc') {
            width: 175px;
            font-size: 16px;
        }

        &:hover {
            background: #fff;
            color: global.$btn-color;
            border: 1px solid global.$btn-color;
        }
    }

    &-contents-top {
        .p__page-products-name-top {
            font-size: 24px;
            padding-top: 12px;
        }

        .p__page-products-price-top {
            text-align: center;
            font-family: global.$ff-Damion;
            font-size: 28px;

            @include global.mq('pc') {
                font-size: 32px;
            }
        }

        >.p__page-products-item {
            @include global.mq('sp') {
                width: 100%;
                margin-bottom: 20px;
            }

            @include global.mq('pc') {
                width: calc(100% / 2 - 40px * 1 / 2);
            }

            @include global.mq('tab') {
                width: calc(100% / 2 - 40px * 1 / 2);
            }
        }

        >.p__page-products-items {

            display: flex;
            flex-wrap: wrap;

            @include global.mq('sp') {
                width: 100%;
            }

            @include global.mq('pc') {
                width: calc(100% / 2 - 40px * 1 / 2);
            }

            @include global.mq('tab') {
                width: calc(100% / 2 - 40px * 1 / 2);
            }

            .p__page-products-item {
                @include global.mq('pc') {
                    width: calc(100% / 2 - 40px * 1 / 2);
                    margin-right: 40px;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    &:nth-last-child(-n+2) {
                        margin-top: 40px;
                    }
                }

                @include global.mq('tab') {
                    width: calc(100% / 2 - 40px * 1 / 2);
                    margin-right: 40px;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    &:nth-last-child(-n+2) {
                        margin-top: 40px;
                    }
                }

                @include global.mq('sp') {
                    width: calc(100% / 2 - 20px * 1 / 2);
                    margin-right: 20px;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    &:nth-last-child(-n+2) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    &-contents-bottom {
        display: flex;
        flex-wrap: wrap;

        .p__page-products-item {
            @include global.mq('pc') {
                width: calc(100% / 4 - 40px * 3 / 4);
                margin-right: 40px;
                margin-top: 40px;

                &:nth-child(4n) {
                    margin-right: 0;
                }
            }

            @include global.mq('tab') {
                width: calc(100% / 4 - 40px * 3 / 4);
                margin-right: 40px;
                margin-top: 40px;

                &:nth-child(4n) {
                    margin-right: 0;
                }
            }

            @include global.mq('sp') {
                width: calc(100% / 2 - 20px * 1 / 2);
                margin-right: 20px;
                margin-top: 20px;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }

    &-wrap {
        background: #fff;
        border: solid 4px #382620;
        position: relative;
        margin-top: 60px;
        padding: 40px;

        @include global.mq('pc') {
            padding: 80px 60px 70px;
            display: flex;
            justify-content: center;
            max-width: 1080px;
            margin-top: 100px;
        }

        &::before {
            content: '';
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border: solid 1px #382620;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: map-get(global.$layer, "default") + 1;
        }

        &-body {
            text-align: left;
            margin-bottom: 40px;

            @include global.mq('pc') {
                width: 50%;
            }
        }

        &-ttl {
            @include global.mq('pc') {
                font-size: 24px;
            }

            &::after {
                content: '';
                padding-bottom: 24px;
                border-bottom: dotted 3px #000;
                display: inline-block;
                width: 100%;
            }
        }

        &-txt {
            margin-top: 24px;
            font-size: 12px;

            @include global.mq('pc') {
                font-size: 16px;
            }
        }

        &-img {
            @include global.mq('pc') {
                margin-left: 60px;
                width: 50%;
            }
        }
    }
}