@use "../global" as global;

.p__archive {
  &-ttl {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    position: relative;
    justify-content: space-between;
  }

  &-item {
    &:nth-child(2n) {
      margin-right: 0;
    }

    a {
      position: relative;
    }

    @include global.mq("pc") {
      width: calc(50% - 32px * 1 / 2);
      margin-right: 32px;

      &:nth-last-child(-n + 2) {
        margin-bottom: 32px;
      }

      &:not(:nth-child(-n + 2)) {
        margin-top: 32px;
      }
    }

    @include global.mq("tab") {
      width: calc(50% - 20px * 1 / 2);
      margin-right: 20px;

      &:nth-last-child(-n + 2) {
        margin-bottom: 20px;
      }

      &:not(:nth-child(-n + 2)) {
        margin-top: 20px;
      }
    }

    @include global.mq("sp") {
      width: calc(50% - 10px * 1 / 2);
      margin-right: 10px;

      &:nth-last-child(-n + 2) {
        margin-bottom: 10px;
      }

      &:not(:nth-child(-n + 2)) {
        margin-top: 10px;
      }
    }
  }

  &-img-wrapper {
    position: relative;
    overflow: hidden;

    img {
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-top {
      position: relative;
    }
  }

  &-tag-top,
  &-tag {
    background: global.$btn-color;
    color: global.$text-color-w;
    font-size: 12px;
    text-align: left;
    padding: 5px 10px;
    min-width: 72px;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 10px;
    z-index: map-get(global.$layer, "default") + 1;

    @include global.mq("sp") {
      display: none;
    }

    &::before,
    &::after {
    }

    &::before {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      border: none;
      border-bottom: solid 5px transparent;
      border-right: solid 10px #aaa;
    }

    &::after {
      position: absolute;
      content: "";
      z-index: 1;
      top: 0;
      right: -8px;
      width: 0;
      height: 0;
      border-width: 14px 8px 15px 0;
      border-color: #222 transparent #222 #222;
      border-style: solid;
    }
  }

  &-img {
    &-top {
    }
  }

  &-body {
    font-size: 12px;
    text-align: left;
    font-family: "Noto Serif JP";

    &-top {
    }
  }

  &-date {
    &-top {
    }
  }

  &-txt {
    margin-bottom: 8px;
    font-size: 16px;

    &-top {
      margin: 23px 0 25px;
    }
  }
}
